<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean name="userDAO" class="com.bjsxt.dao.impl.UserDAOImpl">
  	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>

  <bean id="userService" class="com.bjsxt.service.UserService">
  <!-- 
  	<property name="userDAO">
  		<ref bean="userDAO"/>
  	</property>
  	 -->
  	 <constructor-arg>
  	 	<ref bean="userDAO"/>
  	 </constructor-arg>
  </bean>


</beans>