<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../zjs/pixelmatrix/css/uniform.default.css" type="text/css" media="screen">
<script language="javascript" type="text/javascript" src="../zjs/jquery-1.8.3.js"></script>
<script language="javascript" type="text/javascript" src="../zjs/pixelmatrix/jquery.uniform.js"></script>
<script language="javascript" type="text/javascript" src="../zjs/fzw_ht.js" charset="utf-8"></script>
<title>新增雇员</title>
</head>

<body>
<form action="#" method="post">
<table>
	<tr>
		<td>雇员名称</td>
		<td><input type="text" /></td>
	</tr>
	<tr>
		<td>登录密码</td>
		<td><input type="password" /></td>
	</tr>
	<tr>
		<td>确认密码</td>
		<td><input type="password" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="确认添加"/></td>
	</tr>
</table>
</form>
</body>
</html>
