<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>it仓库|itstack视频</title>
<style>
ul li{
	margin-bottom:5px;
	list-style:none;
}

a{
	text-decoration:none;
	color:#993300;
	font-weight:bolder;
	
}
</style>
</head>

<body>
<ul>
	<li>itstack it仓库视频 全心致力于it行业</li>
	<li><a href="../../../index.php" target="_blank">返回首页</a></li>
	<li>本为测试版当视频量过百后开始正式版</li>
	<li>个人视频可以发到我邮箱itstack@sina.com 当天就可以看到视频在网站上</li>
	<li>目前测试谷歌浏览器可直接在线看，也就是如果如果你的浏览器没有安装对应插件那么需要下载后观看</li>
	<li>本网站支持视频预约，只要你说出你需要哪的视频，我们就会组织人来录制【发邮箱】</li>
</ul>

<ul>
	视频列表
	<hr />
	
	<ul>
		<li>java</li>
		<li><a href="http://bcs.duapp.com/itstack-bucket-media/media/java%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F.mp4" target="_blank">java正则表达式入门介绍</a></li>
		<li><a href="http://bcs.duapp.com/itstack-bucket-media/media/java%20swing_MP4_AVC_AAC_1920x1080_20131207221445.mp4" target="_blank">java awt swing 手写介绍【忘记录声音了】</a></li>




	</ul>
	
	<ul>
		<li>娱乐</li>
		<li><a href="http://bcs.duapp.com/itstack-bucket-media/media/video_MP4_AVC_AAC_1280x720_20131206214647.mp4" target="_blank">1.搞笑视频</a></li>
	</ul>
	
	<ul>
		<li>生活</li>
		<li><a href="http://bcs.duapp.com/itstack-bucket-media/media/%E7%AC%AC%E4%B8%80%E4%B8%AA%E4%BB%8B%E7%BB%8D%E8%A7%86%E9%A2%91.mp4" target="_blank">2.第一个群介绍视频</a></li>
	</ul>
</ul>

</body>
</html>
