<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="../../zcss/diamond.css" />
<title>IT仓库|diamond 钻石</title>
</head>

<body>
<div class="topDiv">
	无论你是像钻石一样有棱有角，无论你是不是菜鸟，无论你做的好与不好，你都可以一展风骚！
</div>

<table border="1" width="100%" align="center" style="margin-top:20px;">
	<tr>
		<th>序号</th>
		<th>作品名称</th>
		<th>作者代号</th>
		<th>展示地址</th>
	</tr>
	<tr align="center">
		<td>1</td>
		<td>时时监测更新软件</td>
		<td>成都—依安</td>
		<td><a href="yian/update.xml" href="_blank">yian/update.xml</a></td>
	</tr>
	<tr align="center">
		<td>1</td>
		<td>struts2 立体结构笔记</td>
		<td>itstack_付政委</td>
		<td><a href="itstack/struts2api/index.html" href="_blank">itstack/struts2api/index.html</a></td>
	</tr>
</table>

</body>
</html>
